<h1>Login</h1>

<% 
if(typeof  massige!=='undefined'){
    %>
    <h3 style="color:red;" >
        <%= massige%>
        </h3>
    <%
}
%>

<form action="" method="POST">
    <input type="email" name="email" placeholder="enter email" required><br><br>
    <input type="password" name="password" placeholder="PASSWORD" required><br><br>
    <input type="submit" value="login">

    

    </form>
     